# 0. pandas
파이썬에서 사용하는 데이터 분석 lib

In [256]:
import pandas as pd

# 1. 시리즈
1차원 데이터 (정수 실수 문자열 등)

## 객체 생성

In [257]:
temp = pd.Series([-10, -8, -5, 12])
print(temp)

0   -10
1    -8
2    -5
3    12
dtype: int64

In [258]:
print(temp[0])

-10

In [259]:
temp[0]

-10

## 객체 생성 (인덱스 지정)

In [260]:
ls = [-12, -2, 5, 6]
temp = pd.Series(ls, index = ['가형', '나형', '다형', '라형'])

In [261]:
temp['나형']

-2

# 2. 데이터프레임
2차원 데이터 (시리즈들의 모음)

## 데이터 준비
아직 df 아님, 이건 딕셔너리

In [262]:
data = {
    '이름' : ['이승만', '윤보선', '박정희', '최규하', '전두환', '노태우', '김영삼', '김대중', '이회창', '노무현', '이명박', '박근혜', '문재인', '윤석열', '이재명'],
    '키': [172, 169, 162, 182, 172, 180, 172, 170, 168, 165, 175, 163, 173, 178, 175],
    '출생연도': [1870, 1890, 1910, 1920, 1930, 1930, 1920, 1920, 1930, 1940, 1940, 1950, 1950, 1960, 1960],
    '출신지': ['황해', '충남', '경북', '강원', '경남', '경북', '경남', '전남', '황해', '경남', '경북', '경북', '경남', '서울', '경북'],
    '집권기간' : [9, 0.5, 18, 0.5, 7, 5, 5, 5, 0, 5, 5, 4.5, 5, 5, 0],
    '약칭': ['Lee', 'Yoon', 'President Part', 'Choi', 'Jeon', 'Noe', 'Sam', 'Kim', 'Chang', 'Noe', 'Lee', 'Park', 'Moon', 'Seok', 'Lee']
}
# 역대 대통령, 유력 대통령

In [263]:
data['이름']

['이승만',
 '윤보선',
 '박정희',
 '최규하',
 '전두환',
 '노태우',
 '김영삼',
 '김대중',
 '이회창',
 '노무현',
 '이명박',
 '박근혜',
 '문재인',
 '윤석열',
 '이재명']

## df 객체 생성

In [264]:
df = pd.DataFrame(data)
df

     이름    키  출생연도 출신지  집권기간              약칭
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0           Chang
9   노무현  165  1940  경남   5.0             Noe
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

In [265]:
print(df['이름'], df[['이름', '키']])

0     이승만
1     윤보선
2     박정희
3     최규하
4     전두환
5     노태우
6     김영삼
7     김대중
8     이회창
9     노무현
10    이명박
11    박근혜
12    문재인
13    윤석열
14    이재명
Name: 이름, dtype: object      이름    키
0   이승만  172
1   윤보선  169
2   박정희  162
3   최규하  182
4   전두환  172
5   노태우  180
6   김영삼  172
7   김대중  170
8   이회창  168
9   노무현  165
10  이명박  175
11  박근혜  163
12  문재인  173
13  윤석열  178
14  이재명  175

## df 객체 생성 (인덱스 지정)

In [266]:
df = pd.DataFrame(data, index = ['1~3대', '4대', '5~9대', '10대', '11~12대', '13대', '14대', '15대', '낙선1', '16대', '17대', '18대', '19대', '20대', '낙선2'])

In [267]:
df

         이름    키  출생연도 출신지  집권기간              약칭
1~3대    이승만  172  1870  황해   9.0             Lee
4대      윤보선  169  1890  충남   0.5            Yoon
5~9대    박정희  162  1910  경북  18.0  President Part
10대     최규하  182  1920  강원   0.5            Choi
11~12대  전두환  172  1930  경남   7.0            Jeon
13대     노태우  180  1930  경북   5.0             Noe
14대     김영삼  172  1920  경남   5.0             Sam
15대     김대중  170  1920  전남   5.0             Kim
낙선1     이회창  168  1930  황해   0.0           Chang
16대     노무현  165  1940  경남   5.0             Noe
17대     이명박  175  1940  경북   5.0             Lee
18대     박근혜  163  1950  경북   4.5            Park
19대     문재인  173  1950  경남   5.0            Moon
20대     윤석열  178  1960  서울   5.0            Seok
낙선2     이재명  175  1960  경북   0.0             Lee

## df 객체 생성 (컬럼 지정)

In [268]:
df = pd.DataFrame(df, columns = ['이름'])

In [269]:
df

         이름
1~3대    이승만
4대      윤보선
5~9대    박정희
10대     최규하
11~12대  전두환
13대     노태우
14대     김영삼
15대     김대중
낙선1     이회창
16대     노무현
17대     이명박
18대     박근혜
19대     문재인
20대     윤석열
낙선2     이재명

# 3. 인덱스

In [270]:
df = pd.DataFrame(data, index = ['1~3대', '4대', '5~9대', '10대', '11~12대', '13대', '14대', '15대', '낙선', '16대', '17대', '18대', '19대', '20대', '낙선'])
df

         이름    키  출생연도 출신지  집권기간              약칭
1~3대    이승만  172  1870  황해   9.0             Lee
4대      윤보선  169  1890  충남   0.5            Yoon
5~9대    박정희  162  1910  경북  18.0  President Part
10대     최규하  182  1920  강원   0.5            Choi
11~12대  전두환  172  1930  경남   7.0            Jeon
13대     노태우  180  1930  경북   5.0             Noe
14대     김영삼  172  1920  경남   5.0             Sam
15대     김대중  170  1920  전남   5.0             Kim
낙선      이회창  168  1930  황해   0.0           Chang
16대     노무현  165  1940  경남   5.0             Noe
17대     이명박  175  1940  경북   5.0             Lee
18대     박근혜  163  1950  경북   4.5            Park
19대     문재인  173  1950  경남   5.0            Moon
20대     윤석열  178  1960  서울   5.0            Seok
낙선      이재명  175  1960  경북   0.0             Lee

## 인덱스 이름 설정

In [271]:
df.index.name = '번호'
df

         이름    키  출생연도 출신지  집권기간              약칭
번호
1~3대    이승만  172  1870  황해   9.0             Lee
4대      윤보선  169  1890  충남   0.5            Yoon
5~9대    박정희  162  1910  경북  18.0  President Part
10대     최규하  182  1920  강원   0.5            Choi
11~12대  전두환  172  1930  경남   7.0            Jeon
13대     노태우  180  1930  경북   5.0             Noe
14대     김영삼  172  1920  경남   5.0             Sam
15대     김대중  170  1920  전남   5.0             Kim
낙선      이회창  168  1930  황해   0.0           Chang
16대     노무현  165  1940  경남   5.0             Noe
17대     이명박  175  1940  경북   5.0             Lee
18대     박근혜  163  1950  경북   4.5            Park
19대     문재인  173  1950  경남   5.0            Moon
20대     윤석열  178  1960  서울   5.0            Seok
낙선      이재명  175  1960  경북   0.0             Lee

## 인덱스 초기화

In [272]:
df.reset_index(drop=True)

     이름    키  출생연도 출신지  집권기간              약칭
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0           Chang
9   노무현  165  1940  경남   5.0             Noe
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

In [273]:
df.reset_index(drop=True, inplace=True)
# 이래야 반영

## 인덱스 설정

In [274]:
df.set_index('이름', inplace=True)
df
# 바로 반영

       키  출생연도 출신지  집권기간              약칭
이름
이승만  172  1870  황해   9.0             Lee
윤보선  169  1890  충남   0.5            Yoon
박정희  162  1910  경북  18.0  President Part
최규하  182  1920  강원   0.5            Choi
전두환  172  1930  경남   7.0            Jeon
노태우  180  1930  경북   5.0             Noe
김영삼  172  1920  경남   5.0             Sam
김대중  170  1920  전남   5.0             Kim
이회창  168  1930  황해   0.0           Chang
노무현  165  1940  경남   5.0             Noe
이명박  175  1940  경북   5.0             Lee
박근혜  163  1950  경북   4.5            Park
문재인  173  1950  경남   5.0            Moon
윤석열  178  1960  서울   5.0            Seok
이재명  175  1960  경북   0.0             Lee

## 인덱스 기준으로 데이터 정렬

In [275]:
df.sort_index()
# 오름차순

       키  출생연도 출신지  집권기간              약칭
이름
김대중  170  1920  전남   5.0             Kim
김영삼  172  1920  경남   5.0             Sam
노무현  165  1940  경남   5.0             Noe
노태우  180  1930  경북   5.0             Noe
문재인  173  1950  경남   5.0            Moon
박근혜  163  1950  경북   4.5            Park
박정희  162  1910  경북  18.0  President Part
윤보선  169  1890  충남   0.5            Yoon
윤석열  178  1960  서울   5.0            Seok
이명박  175  1940  경북   5.0             Lee
이승만  172  1870  황해   9.0             Lee
이재명  175  1960  경북   0.0             Lee
이회창  168  1930  황해   0.0           Chang
전두환  172  1930  경남   7.0            Jeon
최규하  182  1920  강원   0.5            Choi

In [276]:
df.sort_index(ascending=False)
# 오름차순이 아니다 -> 내림차순

       키  출생연도 출신지  집권기간              약칭
이름
최규하  182  1920  강원   0.5            Choi
전두환  172  1930  경남   7.0            Jeon
이회창  168  1930  황해   0.0           Chang
이재명  175  1960  경북   0.0             Lee
이승만  172  1870  황해   9.0             Lee
이명박  175  1940  경북   5.0             Lee
윤석열  178  1960  서울   5.0            Seok
윤보선  169  1890  충남   0.5            Yoon
박정희  162  1910  경북  18.0  President Part
박근혜  163  1950  경북   4.5            Park
문재인  173  1950  경남   5.0            Moon
노태우  180  1930  경북   5.0             Noe
노무현  165  1940  경남   5.0             Noe
김영삼  172  1920  경남   5.0             Sam
김대중  170  1920  전남   5.0             Kim