# 파일 저장 & 열기
df -> 파일(엑셀 txt csv)

In [35]:
import pandas as pd

In [36]:
data = {
    '이름' : ['이승만', '윤보선', '박정희', '최규하', '전두환', '노태우', '김영삼', '김대중', '이회창', '노무현', '이명박', '박근혜', '문재인', '윤석열', '이재명'],
    '키': [172, 169, 162, 182, 172, 180, 172, 170, 168, 165, 175, 163, 173, 178, 175],
    '출생연도': [1870, 1890, 1910, 1920, 1930, 1930, 1920, 1920, 1930, 1940, 1940, 1950, 1950, 1960, 1960],
    '출신지': ['황해', '충남', '경북', '강원', '경남', '경북', '경남', '전남', '황해', '경남', '경북', '경북', '경남', '서울', '경북'],
    '집권기간' : [9, 0.5, 18, 0.5, 7, 5, 5, 5, 0, 5, 5, 4.5, 5, 5, 0],
    '약칭': ['Lee', 'Yoon', 'President Part', 'Choi', 'Jeon', 'Noe', 'Sam', 'Kim', 'Chang', 'Noe', 'Lee', 'Park', 'Moon', 'Seok', 'Lee']
}

In [37]:
df = pd.DataFrame(data)
df.index.name = '번호'
df

     이름    키  출생연도 출신지  집권기간              약칭
번호
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0           Chang
9   노무현  165  1940  경남   5.0             Noe
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

## 저장 to csv

In [38]:
df.to_csv('presidents1.csv', encoding='utf-8-sig')
# py 파일 있는 곳에 바로 만들어짐

In [39]:
df.to_csv('presidents2.csv', encoding='utf-8-sig', index=False)

## 저장 to txt

In [40]:
df.to_csv('presidents3.txt', sep='\t')
# tab으로 구분된 txt 파일

## 저장 to 엑셀

In [41]:
df.to_excel('presidents4.xlsx')

## 열기 from csv

In [42]:
df = pd.read_csv('presidents1.csv')
df

    번호   이름    키  출생연도 출신지  집권기간              약칭
0    0  이승만  172  1870  황해   9.0             Lee
1    1  윤보선  169  1890  충남   0.5            Yoon
2    2  박정희  162  1910  경북  18.0  President Part
3    3  최규하  182  1920  강원   0.5            Choi
4    4  전두환  172  1930  경남   7.0            Jeon
5    5  노태우  180  1930  경북   5.0             Noe
6    6  김영삼  172  1920  경남   5.0             Sam
7    7  김대중  170  1920  전남   5.0             Kim
8    8  이회창  168  1930  황해   0.0           Chang
9    9  노무현  165  1940  경남   5.0             Noe
10  10  이명박  175  1940  경북   5.0             Lee
11  11  박근혜  163  1950  경북   4.5            Park
12  12  문재인  173  1950  경남   5.0            Moon
13  13  윤석열  178  1960  서울   5.0            Seok
14  14  이재명  175  1960  경북   0.0             Lee

In [43]:
df = pd.read_csv('presidents1.csv', skiprows=2)
df
# 무시할 rows 수 정의

     1  윤보선  169  1890  충남   0.5            Yoon
0    2  박정희  162  1910  경북  18.0  President Part
1    3  최규하  182  1920  강원   0.5            Choi
2    4  전두환  172  1930  경남   7.0            Jeon
3    5  노태우  180  1930  경북   5.0             Noe
4    6  김영삼  172  1920  경남   5.0             Sam
5    7  김대중  170  1920  전남   5.0             Kim
6    8  이회창  168  1930  황해   0.0           Chang
7    9  노무현  165  1940  경남   5.0             Noe
8   10  이명박  175  1940  경북   5.0             Lee
9   11  박근혜  163  1950  경북   4.5            Park
10  12  문재인  173  1950  경남   5.0            Moon
11  13  윤석열  178  1960  서울   5.0            Seok
12  14  이재명  175  1960  경북   0.0             Lee

In [44]:
df = pd.read_csv('presidents1.csv', skiprows=[2,3])
df
# 1,3 번째 행 무시

    번호   이름    키  출생연도 출신지  집권기간     약칭
0    0  이승만  172  1870  황해   9.0    Lee
1    3  최규하  182  1920  강원   0.5   Choi
2    4  전두환  172  1930  경남   7.0   Jeon
3    5  노태우  180  1930  경북   5.0    Noe
4    6  김영삼  172  1920  경남   5.0    Sam
5    7  김대중  170  1920  전남   5.0    Kim
6    8  이회창  168  1930  황해   0.0  Chang
7    9  노무현  165  1940  경남   5.0    Noe
8   10  이명박  175  1940  경북   5.0    Lee
9   11  박근혜  163  1950  경북   4.5   Park
10  12  문재인  173  1950  경남   5.0   Moon
11  13  윤석열  178  1960  서울   5.0   Seok
12  14  이재명  175  1960  경북   0.0    Lee

In [45]:
df = pd.read_csv('presidents1.csv', nrows=3)
df
# 3개만 가져옴

   번호   이름    키  출생연도 출신지  집권기간              약칭
0   0  이승만  172  1870  황해   9.0             Lee
1   1  윤보선  169  1890  충남   0.5            Yoon
2   2  박정희  162  1910  경북  18.0  President Part

In [46]:
df = pd.read_csv('presidents1.csv', skiprows=1, nrows=2)
df
# 처음 한개 무시, 그 이후 두개 표시

   0  이승만  172  1870  황해   9.0             Lee
0  1  윤보선  169  1890  충남   0.5            Yoon
1  2  박정희  162  1910  경북  18.0  President Part

## 열기 from txt

In [47]:
df = pd.read_csv('presidents3.txt', sep='\t')
df

    번호   이름    키  출생연도 출신지  집권기간              약칭
0    0  이승만  172  1870  황해   9.0             Lee
1    1  윤보선  169  1890  충남   0.5            Yoon
2    2  박정희  162  1910  경북  18.0  President Part
3    3  최규하  182  1920  강원   0.5            Choi
4    4  전두환  172  1930  경남   7.0            Jeon
5    5  노태우  180  1930  경북   5.0             Noe
6    6  김영삼  172  1920  경남   5.0             Sam
7    7  김대중  170  1920  전남   5.0             Kim
8    8  이회창  168  1930  황해   0.0           Chang
9    9  노무현  165  1940  경남   5.0             Noe
10  10  이명박  175  1940  경북   5.0             Lee
11  11  박근혜  163  1950  경북   4.5            Park
12  12  문재인  173  1950  경남   5.0            Moon
13  13  윤석열  178  1960  서울   5.0            Seok
14  14  이재명  175  1960  경북   0.0             Lee

In [48]:
df = pd.read_csv('presidents3.txt', sep='\t', index_col='번호')
df

     이름    키  출생연도 출신지  집권기간              약칭
번호
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0           Chang
9   노무현  165  1940  경남   5.0             Noe
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

In [49]:
df = pd.read_csv('presidents3.txt', sep='\t')
df.set_index('번호', inplace=True)
df

     이름    키  출생연도 출신지  집권기간              약칭
번호
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0           Chang
9   노무현  165  1940  경남   5.0             Noe
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

## 열기 from 엑셀

In [50]:
df = pd.read_excel('presidents4.xlsx')
df

    번호   이름    키  출생연도 출신지  집권기간              약칭
0    0  이승만  172  1870  황해   9.0             Lee
1    1  윤보선  169  1890  충남   0.5            Yoon
2    2  박정희  162  1910  경북  18.0  President Part
3    3  최규하  182  1920  강원   0.5            Choi
4    4  전두환  172  1930  경남   7.0            Jeon
5    5  노태우  180  1930  경북   5.0             Noe
6    6  김영삼  172  1920  경남   5.0             Sam
7    7  김대중  170  1920  전남   5.0             Kim
8    8  이회창  168  1930  황해   0.0           Chang
9    9  노무현  165  1940  경남   5.0             Noe
10  10  이명박  175  1940  경북   5.0             Lee
11  11  박근혜  163  1950  경북   4.5            Park
12  12  문재인  173  1950  경남   5.0            Moon
13  13  윤석열  178  1960  서울   5.0            Seok
14  14  이재명  175  1960  경북   0.0             Lee

In [51]:
df = pd.read_excel('presidents4.xlsx', index_col='번호')