In [6]:
import pandas as pd
import numpy as np
df = pd.read_excel('presidents4.xlsx', index_col='번호')
df

     이름    키  출생연도 출신지  집권기간              약칭
번호
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0             Noe
9   노무현  165  1940  경남   5.0           Chang
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

In [7]:
df.sort_values('출생연도', ascending=False)
# 내림차순

     이름    키  출생연도 출신지  집권기간              약칭
번호
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
9   노무현  165  1940  경남   5.0           Chang
10  이명박  175  1940  경북   5.0             Lee
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
8   이회창  168  1930  황해   0.0             Noe
3   최규하  182  1920  강원   0.5            Choi
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
2   박정희  162  1910  경북  18.0  President Part
1   윤보선  169  1890  충남   0.5            Yoon
0   이승만  172  1870  황해   9.0             Lee

In [8]:
df.sort_values(['출신지', '출생연도'])
# 출신지 오름차순 후, 출생연도 오름차순

     이름    키  출생연도 출신지  집권기간              약칭
번호
3   최규하  182  1920  강원   0.5            Choi
6   김영삼  172  1920  경남   5.0             Sam
4   전두환  172  1930  경남   7.0            Jeon
9   노무현  165  1940  경남   5.0           Chang
12  문재인  173  1950  경남   5.0            Moon
2   박정희  162  1910  경북  18.0  President Part
5   노태우  180  1930  경북   5.0             Noe
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
14  이재명  175  1960  경북   0.0             Lee
13  윤석열  178  1960  서울   5.0            Seok
7   김대중  170  1920  전남   5.0             Kim
1   윤보선  169  1890  충남   0.5            Yoon
0   이승만  172  1870  황해   9.0             Lee
8   이회창  168  1930  황해   0.0             Noe

In [9]:
df.sort_values(['출신지', '출생연도'], ascending=[True, False])
# 출신지는 오름차순, 출생연도는 내림차순

     이름    키  출생연도 출신지  집권기간              약칭
번호
3   최규하  182  1920  강원   0.5            Choi
12  문재인  173  1950  경남   5.0            Moon
9   노무현  165  1940  경남   5.0           Chang
4   전두환  172  1930  경남   7.0            Jeon
6   김영삼  172  1920  경남   5.0             Sam
14  이재명  175  1960  경북   0.0             Lee
11  박근혜  163  1950  경북   4.5            Park
10  이명박  175  1940  경북   5.0             Lee
5   노태우  180  1930  경북   5.0             Noe
2   박정희  162  1910  경북  18.0  President Part
13  윤석열  178  1960  서울   5.0            Seok
7   김대중  170  1920  전남   5.0             Kim
1   윤보선  169  1890  충남   0.5            Yoon
8   이회창  168  1930  황해   0.0             Noe
0   이승만  172  1870  황해   9.0             Lee

In [10]:
df['키'].sort_values()

번호
2     162
11    163
9     165
8     168
1     169
7     170
0     172
4     172
6     172
12    173
10    175
14    175
13    178
5     180
3     182
Name: 키, dtype: int64