In [73]:
import pandas as pd
df = pd.read_excel('presidents4.xlsx', index_col='번호')
df

     이름    키  출생연도 출신지  집권기간              약칭
번호
0   이승만  172  1870  황해   9.0             Lee
1   윤보선  169  1890  충남   0.5            Yoon
2   박정희  162  1910  경북  18.0  President Part
3   최규하  182  1920  강원   0.5            Choi
4   전두환  172  1930  경남   7.0            Jeon
5   노태우  180  1930  경북   5.0             Noe
6   김영삼  172  1920  경남   5.0             Sam
7   김대중  170  1920  전남   5.0             Kim
8   이회창  168  1930  황해   0.0             Noe
9   노무현  165  1940  경남   5.0           Chang
10  이명박  175  1940  경북   5.0             Lee
11  박근혜  163  1950  경북   4.5            Park
12  문재인  173  1950  경남   5.0            Moon
13  윤석열  178  1960  서울   5.0            Seok
14  이재명  175  1960  경북   0.0             Lee

## col 수정

In [74]:
df['출신지'].replace({'서울':'수도권', '경남':'부산울산경남', '경북':'대구경북', '전남':'전라도', '충남':'충청도', '강원':'강원도', '황해': '황해도'})
# 아직 반영은 안됨 (inplace 필요함)

번호
0        황해도
1        충청도
2       대구경북
3        강원도
4     부산울산경남
5       대구경북
6     부산울산경남
7        전라도
8        황해도
9     부산울산경남
10      대구경북
11      대구경북
12    부산울산경남
13       수도권
14      대구경북
Name: 출신지, dtype: object

In [75]:
df['출신지'].replace({'서울':'수도권', '경남':'부산울산경남', '경북':'대구경북', '전남':'전라도', '충남':'충청도', '강원':'강원도', '황해': '황해도'}, inplace=True)
df
                                    # 반영완료

     이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만  172  1870     황해도   9.0             Lee
1   윤보선  169  1890     충청도   0.5            Yoon
2   박정희  162  1910    대구경북  18.0  President Part
3   최규하  182  1920     강원도   0.5            Choi
4   전두환  172  1930  부산울산경남   7.0            Jeon
5   노태우  180  1930    대구경북   5.0             Noe
6   김영삼  172  1920  부산울산경남   5.0             Sam
7   김대중  170  1920     전라도   5.0             Kim
8   이회창  168  1930     황해도   0.0             Noe
9   노무현  165  1940  부산울산경남   5.0           Chang
10  이명박  175  1940    대구경북   5.0             Lee
11  박근혜  163  1950    대구경북   4.5            Park
12  문재인  173  1950  부산울산경남   5.0            Moon
13  윤석열  178  1960     수도권   5.0            Seok
14  이재명  175  1960    대구경북   0.0             Lee

In [76]:
df['약칭'].str.lower()
# lower -> 소문자로
# upper -> 대문자로

번호
0                lee
1               yoon
2     president part
3               choi
4               jeon
5                noe
6                sam
7                kim
8                noe
9              chang
10               lee
11              park
12              moon
13              seok
14               lee
Name: 약칭, dtype: object

In [77]:
df['이름'] = df['이름'] + ' 님'
df

       이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee
1   윤보선 님  169  1890     충청도   0.5            Yoon
2   박정희 님  162  1910    대구경북  18.0  President Part
3   최규하 님  182  1920     강원도   0.5            Choi
4   전두환 님  172  1930  부산울산경남   7.0            Jeon
5   노태우 님  180  1930    대구경북   5.0             Noe
6   김영삼 님  172  1920  부산울산경남   5.0             Sam
7   김대중 님  170  1920     전라도   5.0             Kim
8   이회창 님  168  1930     황해도   0.0             Noe
9   노무현 님  165  1940  부산울산경남   5.0           Chang
10  이명박 님  175  1940    대구경북   5.0             Lee
11  박근혜 님  163  1950    대구경북   4.5            Park
12  문재인 님  173  1950  부산울산경남   5.0            Moon
13  윤석열 님  178  1960     수도권   5.0            Seok
14  이재명 님  175  1960    대구경북   0.0             Lee

## col 추가

In [78]:
df['정식호칭'] = df['약칭'] + ' ' + df['이름']
df

       이름    키  출생연도     출신지  집권기간              약칭                  정식호칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee             Lee 이승만 님
1   윤보선 님  169  1890     충청도   0.5            Yoon            Yoon 윤보선 님
2   박정희 님  162  1910    대구경북  18.0  President Part  President Part 박정희 님
3   최규하 님  182  1920     강원도   0.5            Choi            Choi 최규하 님
4   전두환 님  172  1930  부산울산경남   7.0            Jeon            Jeon 전두환 님
5   노태우 님  180  1930    대구경북   5.0             Noe             Noe 노태우 님
6   김영삼 님  172  1920  부산울산경남   5.0             Sam             Sam 김영삼 님
7   김대중 님  170  1920     전라도   5.0             Kim             Kim 김대중 님
8   이회창 님  168  1930     황해도   0.0             Noe             Noe 이회창 님
9   노무현 님  165  1940  부산울산경남   5.0           Chang           Chang 노무현 님
10  이명박 님  175  1940    대구경북   5.0             Lee             Lee 이명박 님
11  박근혜 님  163  1950    대구경북   4.5            Park            Park 박근혜 님
12  문재인 님  173  1950  부산울산경남   5.0            Moon            Moon 문재인 님
13  윤석열 님  178  1960     수도권   5.0            Seok            Seok 윤석열 님
14  이재명 님  175  1960    대구경북   0.0             Lee             Lee 이재명 님

In [79]:
df['집권방식'] = '민선'
df

       이름    키  출생연도     출신지  집권기간              약칭                  정식호칭 집권방식
번호
0   이승만 님  172  1870     황해도   9.0             Lee             Lee 이승만 님   민선
1   윤보선 님  169  1890     충청도   0.5            Yoon            Yoon 윤보선 님   민선
2   박정희 님  162  1910    대구경북  18.0  President Part  President Part 박정희 님   민선
3   최규하 님  182  1920     강원도   0.5            Choi            Choi 최규하 님   민선
4   전두환 님  172  1930  부산울산경남   7.0            Jeon            Jeon 전두환 님   민선
5   노태우 님  180  1930    대구경북   5.0             Noe             Noe 노태우 님   민선
6   김영삼 님  172  1920  부산울산경남   5.0             Sam             Sam 김영삼 님   민선
7   김대중 님  170  1920     전라도   5.0             Kim             Kim 김대중 님   민선
8   이회창 님  168  1930     황해도   0.0             Noe             Noe 이회창 님   민선
9   노무현 님  165  1940  부산울산경남   5.0           Chang           Chang 노무현 님   민선
10  이명박 님  175  1940    대구경북   5.0             Lee             Lee 이명박 님   민선
11  박근혜 님  163  1950    대구경북   4.5            Park            Park 박근혜 님   민선
12  문재인 님  173  1950  부산울산경남   5.0            Moon            Moon 문재인 님   민선
13  윤석열 님  178  1960     수도권   5.0            Seok            Seok 윤석열 님   민선
14  이재명 님  175  1960    대구경북   0.0             Lee             Lee 이재명 님   민선

In [80]:
df.loc[df['집권기간']>5, '집권방식'] = '독재'
df.loc[(df['집권기간']<3), '집권방식'] = '임시'
df.loc[(df['집권기간']<5) & (df['집권방식']=='민선'), '집권방식'] = '탄핵'
df.loc[(df['집권기간']==0) & (df['집권방식']=='임시'), '집권방식'] = '낙선'
df

       이름    키  출생연도     출신지  집권기간              약칭                  정식호칭 집권방식
번호
0   이승만 님  172  1870     황해도   9.0             Lee             Lee 이승만 님   독재
1   윤보선 님  169  1890     충청도   0.5            Yoon            Yoon 윤보선 님   임시
2   박정희 님  162  1910    대구경북  18.0  President Part  President Part 박정희 님   독재
3   최규하 님  182  1920     강원도   0.5            Choi            Choi 최규하 님   임시
4   전두환 님  172  1930  부산울산경남   7.0            Jeon            Jeon 전두환 님   독재
5   노태우 님  180  1930    대구경북   5.0             Noe             Noe 노태우 님   민선
6   김영삼 님  172  1920  부산울산경남   5.0             Sam             Sam 김영삼 님   민선
7   김대중 님  170  1920     전라도   5.0             Kim             Kim 김대중 님   민선
8   이회창 님  168  1930     황해도   0.0             Noe             Noe 이회창 님   낙선
9   노무현 님  165  1940  부산울산경남   5.0           Chang           Chang 노무현 님   민선
10  이명박 님  175  1940    대구경북   5.0             Lee             Lee 이명박 님   민선
11  박근혜 님  163  1950    대구경북   4.5            Park            Park 박근혜 님   탄핵
12  문재인 님  173  1950  부산울산경남   5.0            Moon            Moon 문재인 님   민선
13  윤석열 님  178  1960     수도권   5.0            Seok            Seok 윤석열 님   민선
14  이재명 님  175  1960    대구경북   0.0             Lee             Lee 이재명 님   낙선

## col 삭제

In [81]:
df = df.drop(columns=['정식호칭', '집권방식'])
df

       이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee
1   윤보선 님  169  1890     충청도   0.5            Yoon
2   박정희 님  162  1910    대구경북  18.0  President Part
3   최규하 님  182  1920     강원도   0.5            Choi
4   전두환 님  172  1930  부산울산경남   7.0            Jeon
5   노태우 님  180  1930    대구경북   5.0             Noe
6   김영삼 님  172  1920  부산울산경남   5.0             Sam
7   김대중 님  170  1920     전라도   5.0             Kim
8   이회창 님  168  1930     황해도   0.0             Noe
9   노무현 님  165  1940  부산울산경남   5.0           Chang
10  이명박 님  175  1940    대구경북   5.0             Lee
11  박근혜 님  163  1950    대구경북   4.5            Park
12  문재인 님  173  1950  부산울산경남   5.0            Moon
13  윤석열 님  178  1960     수도권   5.0            Seok
14  이재명 님  175  1960    대구경북   0.0             Lee

## row 삭제

In [82]:
df.drop(index=3)
# 반영은 안됨

       이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee
1   윤보선 님  169  1890     충청도   0.5            Yoon
2   박정희 님  162  1910    대구경북  18.0  President Part
4   전두환 님  172  1930  부산울산경남   7.0            Jeon
5   노태우 님  180  1930    대구경북   5.0             Noe
6   김영삼 님  172  1920  부산울산경남   5.0             Sam
7   김대중 님  170  1920     전라도   5.0             Kim
8   이회창 님  168  1930     황해도   0.0             Noe
9   노무현 님  165  1940  부산울산경남   5.0           Chang
10  이명박 님  175  1940    대구경북   5.0             Lee
11  박근혜 님  163  1950    대구경북   4.5            Park
12  문재인 님  173  1950  부산울산경남   5.0            Moon
13  윤석열 님  178  1960     수도권   5.0            Seok
14  이재명 님  175  1960    대구경북   0.0             Lee

In [83]:
filt = df['출신지'] == '수도권'
df[filt].index

Int64Index([13], dtype='int64', name='번호')

In [84]:
df.drop(index=df[filt].index)

       이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee
1   윤보선 님  169  1890     충청도   0.5            Yoon
2   박정희 님  162  1910    대구경북  18.0  President Part
3   최규하 님  182  1920     강원도   0.5            Choi
4   전두환 님  172  1930  부산울산경남   7.0            Jeon
5   노태우 님  180  1930    대구경북   5.0             Noe
6   김영삼 님  172  1920  부산울산경남   5.0             Sam
7   김대중 님  170  1920     전라도   5.0             Kim
8   이회창 님  168  1930     황해도   0.0             Noe
9   노무현 님  165  1940  부산울산경남   5.0           Chang
10  이명박 님  175  1940    대구경북   5.0             Lee
11  박근혜 님  163  1950    대구경북   4.5            Park
12  문재인 님  173  1950  부산울산경남   5.0            Moon
14  이재명 님  175  1960    대구경북   0.0             Lee

## row 추가

In [85]:
df.loc[15] = ['고건 님', 170, 1930, '수도권', 5.0, 'Mr. Go']
df.loc[16] = ['홍준표 님', 175, 1960, '부산울산경남', 5.0, 'Red Hong']
df

       이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee
1   윤보선 님  169  1890     충청도   0.5            Yoon
2   박정희 님  162  1910    대구경북  18.0  President Part
3   최규하 님  182  1920     강원도   0.5            Choi
4   전두환 님  172  1930  부산울산경남   7.0            Jeon
5   노태우 님  180  1930    대구경북   5.0             Noe
6   김영삼 님  172  1920  부산울산경남   5.0             Sam
7   김대중 님  170  1920     전라도   5.0             Kim
8   이회창 님  168  1930     황해도   0.0             Noe
9   노무현 님  165  1940  부산울산경남   5.0           Chang
10  이명박 님  175  1940    대구경북   5.0             Lee
11  박근혜 님  163  1950    대구경북   4.5            Park
12  문재인 님  173  1950  부산울산경남   5.0            Moon
13  윤석열 님  178  1960     수도권   5.0            Seok
14  이재명 님  175  1960    대구경북   0.0             Lee
15   고건 님  170  1930     수도권   5.0          Mr. Go
16  홍준표 님  175  1960  부산울산경남   5.0        Red Hong

## cell 수정

In [86]:
df.loc[4, '집권기간'] = 8
df

       이름    키  출생연도     출신지  집권기간              약칭
번호
0   이승만 님  172  1870     황해도   9.0             Lee
1   윤보선 님  169  1890     충청도   0.5            Yoon
2   박정희 님  162  1910    대구경북  18.0  President Part
3   최규하 님  182  1920     강원도   0.5            Choi
4   전두환 님  172  1930  부산울산경남   8.0            Jeon
5   노태우 님  180  1930    대구경북   5.0             Noe
6   김영삼 님  172  1920  부산울산경남   5.0             Sam
7   김대중 님  170  1920     전라도   5.0             Kim
8   이회창 님  168  1930     황해도   0.0             Noe
9   노무현 님  165  1940  부산울산경남   5.0           Chang
10  이명박 님  175  1940    대구경북   5.0             Lee
11  박근혜 님  163  1950    대구경북   4.5            Park
12  문재인 님  173  1950  부산울산경남   5.0            Moon
13  윤석열 님  178  1960     수도권   5.0            Seok
14  이재명 님  175  1960    대구경북   0.0             Lee
15   고건 님  170  1930     수도권   5.0          Mr. Go
16  홍준표 님  175  1960  부산울산경남   5.0        Red Hong

## col 순서 변경

In [87]:
df.columns

Index(['이름', '키', '출생연도', '출신지', '집권기간', '약칭'], dtype='object')

In [88]:
cols = list(df.columns)
cols

['이름', '키', '출생연도', '출신지', '집권기간', '약칭']

In [89]:
df = df[[cols[-1]] + cols[0:-1]]
df

                약칭     이름    키  출생연도     출신지  집권기간
번호
0              Lee  이승만 님  172  1870     황해도   9.0
1             Yoon  윤보선 님  169  1890     충청도   0.5
2   President Part  박정희 님  162  1910    대구경북  18.0
3             Choi  최규하 님  182  1920     강원도   0.5
4             Jeon  전두환 님  172  1930  부산울산경남   8.0
5              Noe  노태우 님  180  1930    대구경북   5.0
6              Sam  김영삼 님  172  1920  부산울산경남   5.0
7              Kim  김대중 님  170  1920     전라도   5.0
8              Noe  이회창 님  168  1930     황해도   0.0
9            Chang  노무현 님  165  1940  부산울산경남   5.0
10             Lee  이명박 님  175  1940    대구경북   5.0
11            Park  박근혜 님  163  1950    대구경북   4.5
12            Moon  문재인 님  173  1950  부산울산경남   5.0
13            Seok  윤석열 님  178  1960     수도권   5.0
14             Lee  이재명 님  175  1960    대구경북   0.0
15          Mr. Go   고건 님  170  1930     수도권   5.0
16        Red Hong  홍준표 님  175  1960  부산울산경남   5.0

## col 이름 변경

In [90]:
df.columns = ['약칭', 'name', '키', '출생연대', '출신지', '집권기간']
df

                약칭   name    키  출생연대     출신지  집권기간
번호
0              Lee  이승만 님  172  1870     황해도   9.0
1             Yoon  윤보선 님  169  1890     충청도   0.5
2   President Part  박정희 님  162  1910    대구경북  18.0
3             Choi  최규하 님  182  1920     강원도   0.5
4             Jeon  전두환 님  172  1930  부산울산경남   8.0
5              Noe  노태우 님  180  1930    대구경북   5.0
6              Sam  김영삼 님  172  1920  부산울산경남   5.0
7              Kim  김대중 님  170  1920     전라도   5.0
8              Noe  이회창 님  168  1930     황해도   0.0
9            Chang  노무현 님  165  1940  부산울산경남   5.0
10             Lee  이명박 님  175  1940    대구경북   5.0
11            Park  박근혜 님  163  1950    대구경북   4.5
12            Moon  문재인 님  173  1950  부산울산경남   5.0
13            Seok  윤석열 님  178  1960     수도권   5.0
14             Lee  이재명 님  175  1960    대구경북   0.0
15          Mr. Go   고건 님  170  1930     수도권   5.0
16        Red Hong  홍준표 님  175  1960  부산울산경남   5.0